{% extends "base.html" %}
{% load static %}

{% block 'cabecalho' %}

    <link href="{% static 'users/css/register.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/new_flashcard.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/start_challenge.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/challenge.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

{% endblock 'cabecalho' %}


{% block 'conteudo' %}

    {% include 'partials/header.html' %}
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-md">
                <h3 class="fonte-secundaria" >Desafio iniciado</h3>
                <span class="badge-categoria">Programação</span>
                <span class="badge-categoria" >Matemática</span>
                <br>
                <br>
                <br>
                {% for flash in challenge.flashcards.all %}
                    <div class="box-new-flashcard {% if flash.answered %}op2{% endif %}">
                        <div class="flashcard {{flash.flashcard.css_dificuldade}}">

                            <div class="flashcard-categoria">
                                {{flash.flashcard.category}}
                            </div>
                            <br>
                            <br>
                            <div class="flashcard-box-item" onclick="flip_card({{flash.id}})">
                                <p class="flashcard-item">{{flash.flashcard.question}}</p>
                            </div>

                            {% if not flash.answered %}
                            <div class="responder">
                                <a href="{% url 'answer_flashcard' flash.id %}?right=0&challenge_id={{challenge.id}}"><i class='bx bxs-x-square icone-vermelho'></i></a>
                                <a href="{% url 'answer_flashcard' flash.id %}?right=1&challenge_id={{challenge.id}}"><i class='bx bxs-check-square icone-verde' ></i></a>
                            </div>
                            {% else %}
                            {% if flash.right %}
                                <span class="badge bg-success">Acertou</span>
                            {% else %}
                                <span class="badge bg-danger">Errou</span>
                            {% endif%}

                            {% endif %}
                        </div>
                        <div class="resposta-flashcard" id="{{flash.id}}">
                            {{flash.flashcard.answer}}
                        </div>
                    </div>
                    <br>
                    <br>
                {% endfor %}

            </div>
            <div class="col-md">

                <h3 class="fonte-secundaria">Resultado</h3>
                <p class="fonte-p">Acertos: {{rights}}</p>
                <p class="fonte-p">Erros: {{errors}}</p>
                <p class="fonte-p">Faltantes: {{missing}}</p>
                <br>
                <a class="btn-cadastro btn-desafio" href="{% url 'report' challenge.id %}">Relatório detalhado</a>
            </div>
        </div>

    </div>
    <script src="{% static 'flashcard/js/flashcard.js' %}"></script>
{% endblock 'conteudo' %}